{% extends 'basic.html' %}
{% block body %}
 

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                {% for cart in all_cart %}
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="/media/{{cart.cart_image}}" height="150h" width="200h" alt="">
                                       
                                    </td>
                                    <td class="shoping__cart__price">
                                        {{cart.dissprice}} Rs
                                    </td>
                                    <!---
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text"  name="quantity" class="quant_cart" value="1">
                                            </div>
                                        </div>
                                    </td>
                                -->
                                 
                                    <td class="shoping__cart__item__close">
                                    <a href="" class="cartremove btn btn-danger btn-sm-1" data-id="{{cart.product_id}}"> Remove</a>
                                    
                                    </td>
                                    <td class="shoping__cart__item__close">
                                    <a href="/prodview/{{cart.product_id}}" class="btn btn-info btn-sm-1" data-id="{{cart.product_id}}">View </a>
                                </td>
                                <td class="shoping__cart__item__close">
                                    <a href="/checkout/{{cart.product_id}}" class="btn btn-success btn-sm-1" data-id="{{cart.product_id}}">Buy</a>
                                </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="/" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    </div>
                </div>
                <!---
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Discount Codes</h5>
                            <form action="#">
                                <input type="text" placeholder="Enter your coupon code">
                                <button type="submit" class="site-btn">APPLY COUPON</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Subtotal <span>$454.98</span></li>
                            <li>Total <span>$454.98</span></li>
                        </ul>
                        <a href="#" class="primary-btn">PROCEED TO CHECKOUT</a>
                    </div>
                </div>
            </div>
        -->
        </div>
    </section>

    <!-- Shoping Cart Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


{% endblock %}
{% block js%}
<script type="text/javascript">

    $('.cartremove').bind('click', function(e) { 
        e.preventDefault()  
        product_id = $(this).attr('data-id')        
        console.log(product_id)
        
        data = {
            product_id: product_id
            
        }
        $.ajax({
         'url' : '/cartremove' ,
         'type' : 'GET',
        'data':data   ,      

         'success' : function(response) {
            $(".shoping__cart__table").load(' .shoping__cart__table');
            /*
            $(".shoping__cart__item").hide();
            $(".shoping__cart__item").fadeIn(1000);
            */
            
          
         },
         error: function(response){ 
             console.log(response) 
             }

            
         });
         
      });
            /*CART UPDATE*/
      $('.cartupdate').bind('click', function(e) { 
        e.preventDefault()
        
        var quant_cart;
        cart_id = $(this).attr('data-id') 
        /*
        quantity= $('.quant_cart').val()*/
        $('.quant_cart').each(function(){
           quant_cart = $('.quant_cart').val();
        });
        console.log(quant_cart)
        
        data = {
            cart_id: cart_id,
            quant_cart : quant_cart,
        }
        $.ajax({
         'url' : '/cartupdate' ,
         'type' : 'GET',
        'data':data   ,      

         'success' : function(response) {
             
            window.location.href="/cart";
            
            
            
           console.log(response)
           
            
          
         },
         
         error: function(response){ 
             console.log(response) 
             }

            
         });
         
      });
    </script>
{% endblock js%}