{% extends 'basic.html' %}
{% load static %}
{% block body %}


    

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code
                    </h6>
                </div>
            </div>
            <div class="checkout__form">
                <h4>Product Details</h4>
                <form action="/placedorder" method="POST"> {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="product__details__quantity">
                                        <p>Select Quantity<span>*</span></p>
                                        <ul></ul>
                                        <div class="quantity">
                                            <div class="pro-qty" name="prodquantity" id="prodquantity1">
                                                
                                                <input type="text" name="quantity" id="prodquantity" min="0" value="1">
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Color<span>*</span></p>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" value="Green" class="custom-control-input" id="defaultInline1" name="colors">
                                            <label class="custom-control-label" for="defaultInline1">Green</label>

                                          </div>
                                          <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" value="Red" class="custom-control-input" id="defaultInline2" name="colors">
                                            <label class="custom-control-label" for="defaultInline2">Red</label>
                                            
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <b><p>Size<span>*</span></p></b>
                                <div class="custom-control custom-radio custom-control-inline my-2" >
                                    <input type="radio" value="small" class="custom-control-input" id="small" name="size">
                                    <label class="custom-control-label" for="small">SMALL</label>

                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="medium" class="custom-control-input" id="medium" name="size">
                                    <label class="custom-control-label" for="medium">MEDIUM</label>

                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio"  value="large" class="custom-control-input" id="large" name="size">
                                    <label class="custom-control-label" for="large">LARGE</label>

                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="larger" class="custom-control-input" id="larger" name="size">
                                    <label class="custom-control-label" for="larger">X-LARGE</label>

                                  </div>
                            </div>
                            <div class="checkout_input">
                                
                                    <div class="shoping__continue">
                                        <div class="shoping__discount">
                                            <h4>Discount Code</h4>
                                           
                                                <input type="text"   id="discodetext" name="discodetext" placeholder="Enter your coupon code">
                                                <a href="#" type="submit" id="discode" data-id="{{slug.product_id}}" class="btn btn-warning btn-sm">APPLY COUPON</a>
                                           
                                        </div>
                                    </div>
                                
                            </div>
                       
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order" id="reload_info">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <ul>
                                    <li>{{slug.name}}<span>{{slug.dissprice}}Rs</span></li>
                                    <li>Shipping Charges<span>0 Rs</span></li>
                                    <li class="red-text">Coupon Code<span id="codestatus">Not Applied</span></li>
                                </ul>
                                
                                <div class="checkout__order__total"  id="tempamount">Total <span  id="update_price">{{slug.dissprice}}</span>Rs</div>
                    
                                <p></p>
                                <div class="checkout__order__products">PAYMENT MODE</div>
                                <div class="checkout__input__checkbox">
                                    <label for="paypal">
                                        COD
                                        <input type="checkbox" id="paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                
            </div>








            <!----------------------------------------------------->
            <div class="checkout__form">
                <h4>Billing Details</h4>
                
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>First Name<span>*</span></p>
                                        <input type="text" name="firstname" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input type="text" name="lastname" required>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" value="{{slug.product_id}}" name="product_id">
                            <div class="checkout__input">
                                <p>Country<span><small>(we only ship in India)</small></span></p>
                                <input type="text" placeholder="INDIA" readonly>
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input type="text" name="adress" required placeholder="Street Address (Apartment, suite, unite ect)" class="checkout__input__add">
                                
                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input type="text" name="city" required>
                            </div>
                            <div class="checkout__input">
                                <p>State<span>*</span></p>
                                <input type="text" name="state" required>
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                <input type="text" name="zip" required>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input type="text" name="phone" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text" name="email" required>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="site-btn">PLACE ORDER</button>
                        




                        </div>
                        <!---
                        <div class="col-lg-4 col-md-6">
                            
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <ul>
                                    <li>{{slug.name}}<span>{{slug.dissprice}}Rs</span></li>
                                    <li>Shipping Charges<span>0 Rs</span></li>
                                    <li class="red-text" >Coupon Code<span id="codestatus">Not Applied</span></li>
                                </ul>
                                
                                <div class="checkout__order__total">Total <span>20 Rs</span></div>
                                
                                <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                                <div class="checkout__input__checkbox">
                                    <label for="payment">
                                        Check Payment
                                        <input type="checkbox" id="payment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="paypal">
                                        Paypal
                                        <input type="checkbox" id="paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button type="submit" class="site-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    -->
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>

        
{% endblock %}
{% block js %}
        <script type="text/javascript">
        $('#discode').bind('click', function(e) { 
            e.preventDefault() 
            discodetext=$('#discodetext').val()
            tempamount= $('#update_price').html()
            
            console.log(tempamount)
            
            data = {
                
                discodetext: discodetext,
                tempamount:tempamount
            }
            
            $.ajax({
             'url' : '/applycode/{{slug.product_id}}' ,
             'type' : 'GET',
            'data':data   ,      
        
             'success' : function(response) {
                 
                if (response=="False"){
                    if ($('#discodetext').val()==""){
                        $('#codestatus').html("No Code provided")
                    }
                    else{
                    $('#codestatus').html("InVALID")
                    $('#reload_info').hide()
                    $('#reload_info').fadeIn(1000);
                    $('#discode').attr("readonly",true)

                    }
                }
                else {
                    $("#update_price").html(response)
                    $('#reload_info').hide()
                    $('#reload_info').fadeIn(1000);

                    $('#codestatus').html("applied")
                    
                }
                
                

         
             },
             
             error: function(response){ 
                 console.log(response) 
                 }
        
                
             });
             
          });

          /*FOR NUMBERS BITCH*/
          $('#prodquantity1').bind('click', function(e) { 
            e.preventDefault() 
            prodval=$('#prodquantity').val()
            
            
            
            data = {
                
                prodval: prodval
            }
            
            $.ajax({
             'url' : '/prodq/{{slug.product_id}}' ,
             'type' : 'GET',
            'data':data   ,      
        
             'success' : function(response) {
                $("#update_price").html(response)
                    $('#reload_info').hide()
                    $('#reload_info').fadeIn(1000);

                         
         
             },
             
             error: function(response){ 
                 console.log(response) 
                 }
        
                
             });
             
             
          });

        </script>
        {% endblock js%}