{% extends 'basic.html' %}
{% block body %}


   <!-- Contact Form Begin -->
   <div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>LOGIN HERE</h2>
                </div>
            </div>
        </div>
        <form action="/login" method="POST">{% csrf_token %}
            <div class="text-center">
                <div class="col-lg-12 col-md-6 text-center">
                    <input type="text" name="username" placeholder="Your Username">
                </div>
                <div class="col-lg-12 col-md-6 text-center">
                    <input type="password" name="password" placeholder="Your Password">
                </div>
                <div class="col-lg-12 text-center">
                    
                    <button type="submit" class="site-btn">LOGIN</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}